* {
    box-sizing: border-box;
}
input {
    height: 40px;
}
#cardForm {
    display: grid;
    grid-template-columns: 120px 280px 120px;
    grid-template-rows: 60px 150px 60px 60px;
    width: 520px;
    height: 330px;
    position: relative;
}

#cardFront {
    width: 400px;
    height: 220px;
    background: lightgray;
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px darkgray;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 60px 60px 60px;
    z-index: 10;   
    align-items: center;
}
#total {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
#icon {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 2rem;
    justify-self: end;
}
#cardNumberSection {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
#cardHolderSection {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}
#cardExpiration {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#expirationSection {
    display: flex;
}
#cardExpiration input {
    width: 50%;
}

#cardBack {
    width: 400px;
    height: 220px;
    background: lightgray;
    grid-column: 2 / 4;
    grid-row: 2 /4;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 3px 3px 5px darkgray;
    display: grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 3fr 1fr 4fr;
    z-index: 5;
}
#magneticStrip {
    background: black;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    height: 50%;
}
#cvvSection {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}
#cvv {
    width: 80%;
}
#submitButton{
    grid-column: 3/ 4;
    grid-row: 4 / 5;
    margin-top: 20px;
    height: 60%;
    width: 100%;
    background-color: lightgray;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 3px 3px 5px darkgray;
    font-size: 0.8em;
    justify-self: end;
}
#errorMessage {
  color: red;
  white-space: pre-line;
  grid-column: 1 / 4;
  margin-top: 10px;
}