* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header, footer {
    background-color: rgb(40, 119, 203);
    text-align: center;
    color: white;
    padding: 10px;
}
h1 {
    padding: 10px;
}
main {
    background-color: rgb(178, 184, 190);
    text-align: center;
    padding: 20px;
}
nav a {
    padding: 20px;
    color: white;
}
.menu {
    display: none; 
}
.menu.open {
    display: block;
}
.menu a {
    color: white;
    padding: 10px;
    display: block;
}

.menu-btn {
    cursor: pointer;
    border: none;
    background-color: transparent;
    color: white;
    padding: 5px;
}
img {
    border: 3px solid white;
    box-shadow: 5px 5px 10px black;
    display: block;
    margin: 20px auto;
    width: 250px;
    height: 250px;
    object-fit: cover;
}

dialog img {
    width: 60%;
    height: 60%;
    object-fit: contain; 
    margin: 100px auto;          
    border: none;      
    box-shadow: none;
    display: center;
    
}
dialog {
    padding: 0;
    border: none;
    background-color: rgba(0,0,0,.75); 
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
    margin: auto;    
}
.close-viewer {
    position: absolute;
    top: 10vh;
    right: 10vh;
    z-index: 10;
}
dialog button {
    background-color: white;
    cursor: pointer;
    padding: 10px;    
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: none;
}

@media screen and (min-width: 700px) {
    .photos {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 80%;
        margin: 30px auto;        
        gap: 20px 40px;
        justify-content: center; 
        align-content: center;
    }   
}

@media screen and (min-width: 1000px) {
    .photos {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .menu-btn {
        display: none;
    }
    .menu {
        display: block; 
    }
    .menu a {
        display: inline-block; 
    }
}