
* {
box-sizing: border-box;
}

body {
font-size: 20px;
max-width: 1280px;
margin: auto;
padding: 1em;
}

img {
max-width: 100%;
}

.main-nav {
list-style-type: none;
display:flex;
gap: 1em;
flex-direction: column;
justify-content: flex-end;
background-color: lightblue;
padding: 40px;
}

hr{
margin-top: 50px;
}
              
.media-card {
    display: flex;
    flex-direction: column;
    gap: 40px
}

.gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery section {
    flex: 1 1 460px;
}
@media screen and (min-width: 700px) {
    .main-nav {
        flex-direction: row;
    }
    .main-nav li {
    flex: 0 1 5em;
    }
    .media-card {
        flex-direction: row;
    }
    .gallery section {
        flex: 0 1 360px;
    }
    .media-card img {
        flex: 0 1 200px;
    }
    .media-card content {
        flex: 0 1 60ch;
    }
}